html{

		background: url(./nyc.jpg) fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		
	color:rgb(60,60,60);
	max-height: 100%;
	font-size: 15px;
	margin: auto;  
	font-weight: 800;
	font-family: "Courier";
	text-align: center;

	}

nav{
	display:inline-block;
	font-size: 26px;
	
	padding: 0;

}
a{
	color:rgb(60,60,60);
	text-decoration: none;
	text-align: justify;
}
main{
	text-align: center;
	margin: 0 auto;
	padding: 25px;
	display: inline-block;
	max-width: 600px;
	border-top: 1px solid white; 
	border-bottom: 1px solid white; 
}
header{

	text-align: center;
}

ul{
	list-style-type: none;
	text-align: center;
}
footer{
	
}